MONGODB_URI="mongodb://127.0.0.1:27017/jewelry_shop"
AUTH_SECRET="jewelry-shop-super-secret-key-change-in-production-32-chars-minimum"
NEXTAUTH_SECRET="jewelry-shop-super-secret-key-change-in-production-32-chars-minimum"
NEXTAUTH_URL="http://localhost:3000"
